body {
    background-color: lightblue;   
    background-repeat: no-repeat;
    margin: auto;
    max-width: 1300px;
    width: 90%;
}

footer {
    border: 1px solid;
    padding: 10px;
    width: 98%;
    clear: both;
    display: block;
    text-align: center;
    bottom: -10px;
    position: relative;
    border-radius: 8px;
    background-image: url("../img/Backgrounds/Footer.png");
    margin-top: 50px;
    font-size: 20px;
    margin-bottom: 10px;
}

h1 {
    width: 100%;
    Height: 85px;
    color: black;
    background-image:url("../img/Backgrounds/Header.png");
    text-align: center;
    border: 1px solid;
    font-size: 70px;
}

.asideControl {
    width: 50%;
    padding: 20px;
    border: solid;
    margin-top: 20px;
    background-image:url("../img/Backgrounds/Article.jpg")
}

.asideFire {
    width: 70%;
    padding: 20px;
    border: 1px solid;
    margin-top: 50px;
    background-image:url("../img/Backgrounds/Fire.png");
    font-size: 20px;
    border-radius: 8px;
}

.asideWater {
    width: 70%;
    padding: 20px;
    border: 1px solid;
    margin-top: 50px;
    background-image:url("../img/Backgrounds/Water.png");
    font-size: 20px;
    border-radius: 8px;
}

.asideGrass {
    width: 70%;
    padding: 20px;
    border: 1px solid;
    margin-top: 50px;
    background-image:url("../img/Backgrounds/Grass.png");
    font-size: 20px;
    border-radius: 8px;
}

.LegendaryList {
    font-size: 20px;
}

.LegendaryStyle {
    border: 1px solid;
}

.logo {
   background-image: url("../img/Backgrounds/Logo1.png");
   height: 297px;
   width: 100%;
   height: 355px;
   display: block;
   border: 1px solid;
   border-radius: 8px;
   background-color: #000000;
   margin: auto;
   font-size: 140px;
   text-align: center;
   margin-bottom: 50px;
}

.articleTitleFontSize {
    font-size: 35px;
}

.listFontSize {
    font-size: 20px;
}

.MainArticle {
    background-image: url("../img/Backgrounds/Article.png");
    border: 1px solid;
    padding: 20px;
    width: 80%;
    margin-top: 50px;
    border-radius: 8px;
    font-size: 20px;
}

.PokeballArticle {
    background-image: url("../img/Backgrounds/PokeballBackground.png");
    border: 1px solid;
    padding: 20px;
    width: 80%;
    margin-top: 50px;
    border-radius: 8px;
    font-size: 20px;
}

.GameArticle {
    background-image: url("../img/Backgrounds/GamePicture.png");
    border: 1px solid;
    padding: 20px;
    width: 80%;
    margin-top: 50px;
    border-radius: 8px;
    font-size: 20px;
}

.startersMainArticle {
    background-image: url("../img/Backgrounds/Thunder.png");
    border: 1px solid;
    padding: 20px;
    width: 80%;
    margin-top: 50px;
    border-radius: 8px;
    font-size: 20px;
}

.noBulletsList {
    list-style-type: none;
    margin-left: -5%;
}

.noBulletsListLegendary {
    list-style-type: none;
    margin-left: -5%;
}

a:hover {
    filter: brightness(25%);             
    transition: all 0s ease;    
    }
    
.vertical-menu {
    width: 130px;
    float: right;
    background-image: url("../img/Backgrounds/Navigation.jpg");
    border: 1px solid;
    border-radius: 8px;
    padding: 10px;
    margin: auto;
    margin-bottom: 50px;    
}
    
.vertical-menu a {
    display: block;
    padding: 12px;
    text-decoration: none;
}